*{
    margin: 0;
    padding: 0;
  
}

#nav{
    color: rgb(70, 8, 141);
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-style: italic;
   
}
#container{
    font-size: x-large;
}
.head{
    margin: 90px;
    display: flex;
}
img{
    width: 30%;
}
a{
    color: blueviolet;
    padding: 20px;
}
h1 , h5{
    padding: 20px;
}